<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="content">
    <!--            본문-->
    <div id="layoutSidenav_content" class="bg-secondary bg-opacity-10">
        <main>
            <div class="container-fluid px-4">
                <div class="content">


                    <div class="container-fluid d-flex justify-content-center">


                        <div class="row">

                            <!--                <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12 gx-5 gy-4 d-flex justify-content-center"> &lt;!&ndash;티켓 col&ndash;&gt;-->

                            <!--                  <div class="container-fluid rounded shadow-lg" style="width:295px">-->
                            <!--                  &lt;!&ndash;                    티켓&ndash;&gt;-->

                            <!--                    <div class="row">-->
                            <!--                      <div class="col-12 bg-warning rounded-top" style="height: 210px">-->
                            <!--                        <div class="row" style="height: 30px"></div>-->
                            <!--                        <div class="row" style="height: 30px">-->
                            <!--                          <div class="col-12 d-flex justify-content-center">-->
                            <!--                            <p class="fw-bold" style="color: black">Bus Pass</p>-->
                            <!--                          </div>-->
                            <!--                        </div>-->
                            <!--                        <div class="row" style="height: 40px"></div>-->
                            <!--                        <div class="row">-->
                            <!--                          <div class="col-6">-->
                            <!--                            <h1 class="d-flex justify-content-center" style="color: #ffc107;text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;">간성</h1>-->
                            <!--                            <h2 style="position: relative;left: 30px;"><i class="fas fa-arrow-right"></i> 동서울</h2>-->
                            <!--                          </div>-->
                            <!--                          <div class="col-6 gx-4 gy-2">-->
                            <!--                            <h2 class="d-flex justify-content-center"><i class="fa-solid fa-bus"></i></h2>-->
                            <!--                            <div style="height: 15px"></div>-->
                            <!--                            <p class="d-flex justify-content-center" style="color: black">심야 우등</p>-->
                            <!--                          </div>-->
                            <!--                        </div>-->
                            <!--                      </div>-->
                            <!--                    </div>-->
                            <!--&lt;!&ndash;                    1열&ndash;&gt;-->
                            <!--                    <div class="row">-->
                            <!--                      <div class="col-4 p-3">-->
                            <!--                        <div class="row">-->
                            <!--                          <div class="col-12"><p>BusID</p></div>-->
                            <!--                          <div class="col-12 fw-bold">AA2005</div>-->
                            <!--                        </div>-->
                            <!--                      </div>-->
                            <!--                      <div class="col-4 p-3"></div>-->
                            <!--                      <div class="col-4 p-3">-->
                            <!--                        <div class="row">-->
                            <!--                          <div class="col-12"><p>Home</p></div>-->
                            <!--                          <div class="col-12 fw-bold">동서울</div>-->
                            <!--                        </div>-->
                            <!--                      </div>-->
                            <!--                    </div>-->
                            <!--&lt;!&ndash;                    2열&ndash;&gt;-->
                            <!--                    <div class="row">-->
                            <!--                      <div class="col-4 p-3">-->
                            <!--                        <div class="row">-->
                            <!--                          <div class="col-12"><p>Date</p></div>-->
                            <!--                          <div class="col-12 fw-bold">June 5</div>-->
                            <!--                        </div>-->
                            <!--                      </div>-->
                            <!--                      <div class="col-4 p-3">-->
                            <!--                        <div class="row">-->
                            <!--                          <div class="col-12"><p>Departs</p></div>-->
                            <!--                          <div class="col-12 fw-bold">11:00 AM</div>-->
                            <!--                        </div>-->
                            <!--                      </div>-->
                            <!--                      <div class="col-4 p-3">-->
                            <!--                        <div class="row">-->
                            <!--                          <div class="col-12"><p>Arrivers</p></div>-->
                            <!--                          <div class="col-12 fw-bold">1:05 PM</div>-->
                            <!--                        </div>-->
                            <!--                      </div>-->
                            <!--                    </div>-->
                            <!--&lt;!&ndash;                    3열&ndash;&gt;-->
                            <!--                    <div class="row">-->
                            <!--                      <div class="col-12"><hr></div>-->
                            <!--                    </div>-->
                            <!--&lt;!&ndash;                    4열&ndash;&gt;-->
                            <!--                    <div class="row">-->
                            <!--                      <div class="col-5 p-3">-->
                            <!--                        <div class="row">-->
                            <!--                          <div class="col-12"><p>PassengerType</p></div>-->
                            <!--                          <div class="col-12 fw-bold">성인</div>-->
                            <!--                        </div>-->
                            <!--                      </div>-->
                            <!--                      <div class="col-3 p-3">-->
                            <!--                        <div class="row">-->
                            <!--                          <div class="col-12"><p>Seat</p></div>-->
                            <!--                          <div class="col-12 fw-bold">A-2</div>-->
                            <!--                        </div>-->
                            <!--                      </div>-->
                            <!--                      <div class="col-4 p-3">-->
                            <!--                        <div class="row">-->
                            <!--                          <div class="col-12"><p>Cost</p></div>-->
                            <!--                          <div class="col-12 fw-bold">13000원</div>-->
                            <!--                        </div>-->
                            <!--                      </div>-->
                            <!--                    </div>-->
                            <!--&lt;!&ndash;                    5열&ndash;&gt;-->
                            <!--                    <div class="row">-->
                            <!--                      <div class="col-12 d-flex justify-content-center"><img src="../assets/img/testqr.png" style="width: 65px;height: 65px;"></div>-->
                            <!--                    </div>-->
                            <!--&lt;!&ndash;                    6열&ndash;&gt;-->
                            <!--                    <div class="row">-->
                            <!--                      <div class="col-12"><hr></div>-->
                            <!--                    </div>-->
                            <!--                    &lt;!&ndash;                    티켓&ndash;&gt;-->
                            <!--                  </div>-->

                            <!--                </div>-->
                            <!--                <div class="col-xl-1 col-lg-1 col-md-1"></div>-->
                            <div class="col-12" style="max-width: 1230px"> <!--테이블 col-->
                                <form class="needs">


                                    <!--                  테이블-->
                                    <!--                  <div class="table-responsive custom-table-responsive overflow-scroll" style="height: 650px">-->
                                    <div class="row">
                                        <!--                    분류-->
                                        <nav aria-label="...">
                                            <ul class="pagination">
                                                <li class="page-item active"><a class="page-link" href="#">전체</a></li>
                                                <li class="page-item"><a class="page-link" href="#">결제완료</a></li>
                                                <li class="page-item"><a class="page-link" href="#">결제대기</a></li>
                                                <li class="page-item"><a class="page-link" href="#">만료된 승차권</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="row">

                                        <div class="table-responsive custom-table-responsive" style="height: 550px">

                                            <table class="table custom-table" id="busTable">
                                                <thead>
                                                <tr>

                                                    <th scope="col">결제 여부</th>
                                                    <th scope="col">출발 일자</th>
                                                    <th scope="col">출발 시간</th>
                                                    <th scope="col">출발 / 도착지</th>
                                                    <th scope="col">비용</th>
                                                    <th scope="col">상세보기</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <!--                        타임리프 for문 start-->
                                                <th:block th:each="reservation, iteration : ${allReservationList}">
                                                    <tr>
                                                        <td>
                                                            <div class="form-check d-flex justify-content-center">
                                                                <input class="form-check-input" type="checkbox"
                                                                       name="data" th:value="${reservation.id}">
                                                            </div>
                                                        </td>
                                                        <td th:text="${reservation.departureDate}"></td>
                                                        <td th:text="${reservation.departureTime}"></td>
                                                        <td th:text="${reservation.departure} + ' - ' + ${reservation.destination}"></td>
                                                        <td th:text="${reservation.payment} + '원'"></td>
                                                        <td>
                                                            <button type="button" class="btn btn-primary"
                                                                    onclick="clk(this)" th:id="${reservation.id}">
                                                                상세보기
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr class="spacer">
                                                        <td colspan="100"></td>
                                                    </tr>
                                                </th:block>
                                                <!--                        타임리프 for문 end-->
                                                <!--                                                &lt;!&ndash;더미데이터&ndash;&gt;-->
                                                <!--                                                <tr>-->
                                                <!--                                                    <td>-->
                                                <!--                                                        <div class="form-check d-flex justify-content-center">-->
                                                <!--                                                            <input class="form-check-input" type="checkbox"-->
                                                <!--                                                                   name="data" value="타임리프(예매번호)2">-->
                                                <!--                                                        </div>-->
                                                <!--                                                    </td>-->
                                                <!--                                                    <td>05/26</td>-->
                                                <!--                                                    <td>07시06분</td>-->
                                                <!--                                                    <td>간성-동서울</td>-->
                                                <!--                                                    <td>35000원</td>-->
                                                <!--                                                    <td>-->
                                                <!--                                                        <button type="button" class="btn btn-primary"-->
                                                <!--                                                                onclick="clk(this)" id="타임리프(예매번호)2">-->
                                                <!--                                                            보기-->
                                                <!--                                                        </button>-->
                                                <!--                                                    </td>-->
                                                <!--                                                </tr>-->
                                                <!--                                                <tr class="spacer">-->
                                                <!--                                                    <td colspan="100"></td>-->
                                                <!--                                                </tr>-->
                                                <!--                                                <tr>-->
                                                <!--                                                    <td>-->
                                                <!--                                                        <div class="form-check d-flex justify-content-center">-->
                                                <!--                                                            <input class="form-check-input" type="checkbox" disabled-->
                                                <!--                                                                   name="data" value="타임리프(예매번호)3">-->
                                                <!--                                                        </div>-->
                                                <!--                                                    </td>-->
                                                <!--                                                    <td>05/26</td>-->
                                                <!--                                                    W-->
                                                <!--                                                    <td>07시06분</td>-->
                                                <!--                                                    <td>간성-동서울</td>-->
                                                <!--                                                    <td>35000원</td>-->
                                                <!--                                                    <td>-->
                                                <!--                                                        <button type="button" class="btn btn-primary"-->
                                                <!--                                                                onclick="clk(this)" id="타임리프(예매번호)3">-->
                                                <!--                                                            보기-->
                                                <!--                                                        </button>-->
                                                <!--                                                    </td>-->
                                                <!--                                                </tr>-->
                                                <!--                                                <tr class="spacer">-->
                                                <!--                                                    <td colspan="100"></td>-->
                                                <!--                                                </tr>-->
                                                <!--                                                <tr class="spacer">-->
                                                <!--                                                    <td colspan="100"></td>-->
                                                <!--                                                </tr>-->
                                                <!--                                                <tr>-->
                                                <!--                                                    <td>-->
                                                <!--                                                        <div class="form-check d-flex justify-content-center">-->
                                                <!--                                                            <input class="form-check-input" type="checkbox" disabled-->
                                                <!--                                                                   name="data" value="타임리프(예매번호)4">-->
                                                <!--                                                        </div>-->
                                                <!--                                                    </td>-->
                                                <!--                                                    <td>05/26</td>-->
                                                <!--                                                    W-->
                                                <!--                                                    <td>07시06분</td>-->
                                                <!--                                                    <td>간성-동서울</td>-->
                                                <!--                                                    <td>35000원</td>-->
                                                <!--                                                    <td>-->
                                                <!--                                                        <button type="button" class="btn btn-primary"-->
                                                <!--                                                                onclick="clk(this)" id="타임리프(예매번호)4">-->
                                                <!--                                                            보기-->
                                                <!--                                                        </button>-->
                                                <!--                                                    </td>-->
                                                <!--                                                </tr>-->
                                                <!--                                                <tr class="spacer">-->
                                                <!--                                                    <td colspan="100"></td>-->
                                                <!--                                                </tr>-->
                                                <!--                                                <tr class="spacer">-->
                                                <!--                                                    <td colspan="100"></td>-->
                                                <!--                                                </tr>-->
                                                <!--                                                <tr>-->
                                                <!--                                                    <td>-->
                                                <!--                                                        <div class="form-check d-flex justify-content-center">-->
                                                <!--                                                            <input class="form-check-input" type="checkbox" disabled-->
                                                <!--                                                                   name="data" value="타임리프(예매번호)5">-->
                                                <!--                                                        </div>-->
                                                <!--                                                    </td>-->
                                                <!--                                                    <td>05/26</td>-->
                                                <!--                                                    W-->
                                                <!--                                                    <td>07시06분</td>-->
                                                <!--                                                    <td>간성-동서울</td>-->
                                                <!--                                                    <td>35000원</td>-->
                                                <!--                                                    <td>-->
                                                <!--                                                        <button type="button" class="btn btn-primary"-->
                                                <!--                                                                onclick="clk(this)" id="타임리프(예매번호)5">-->
                                                <!--                                                            보기-->
                                                <!--                                                        </button>-->
                                                <!--                                                    </td>-->
                                                <!--                                                </tr>-->
                                                <!--                                                <tr class="spacer">-->
                                                <!--                                                    <td colspan="100"></td>-->
                                                <!--                                                </tr>-->
                                                <!--                                                &lt;!&ndash;더미데이터&ndash;&gt;-->

                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="row" style="height: 30px"></div>
                                    <div class="row">
                                        <button type="submit" class="btn btn-primary mb-3" style="width:100px">결제
                                        </button>
                                    </div>
                                    <!--                                    <div class="row">-->
                                    <!--                                        &lt;!&ndash;                    페이지네이션&ndash;&gt;-->
                                    <!--                                        <nav aria-label="...">-->
                                    <!--                                            <ul class="pagination d-flex justify-content-center">-->
                                    <!--                                                <li class="page-item disabled">-->
                                    <!--                                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>-->
                                    <!--                                                </li>-->
                                    <!--                                                <li class="page-item"><a class="page-link" href="#">1</a></li>-->
                                    <!--                                                <li class="page-item active" aria-current="page">-->
                                    <!--                                                    <a class="page-link" href="#">2</a>-->
                                    <!--                                                </li>-->
                                    <!--                                                <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                                    <!--                                                <li class="page-item">-->
                                    <!--                                                    <a class="page-link" href="#">Next</a>-->
                                    <!--                                                </li>-->
                                    <!--                                            </ul>-->
                                    <!--                                        </nav>-->

                                    <!--                                    </div>-->
                                    <!--                  테이블-->
                                </form>

                            </div>

                        </div>

                    </div>

                    <!--          모달-->
                    <div class="modal" id="myModal" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <p class="modal-title">preview</p>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <!--                    티켓-->
                                    <div class="container-fluid rounded shadow-lg" style="width:295px">

                                        <div class="row">
                                            <div class="col-12 bg-warning rounded-top" style="height: 210px">
                                                <div class="row" style="height: 30px"></div>
                                                <div class="row" style="height: 30px">
                                                    <div class="col-12 d-flex justify-content-center">
                                                        <p class="fw-bold" style="color: black">Bus Pass</p>
                                                    </div>
                                                </div>
                                                <div class="row" style="height: 40px"></div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h1 class="d-flex justify-content-center"
                                                            style="color: #ffc107;text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;"
                                                            id="modalDeparts"></h1>
                                                        <h2 style="position: relative;left: 30px;"
                                                            id="modalArrivals"></h2>
                                                    </div>
                                                    <div class="col-6 gx-4 gy-2">
                                                        <h2 class="d-flex justify-content-center"><i
                                                                class="fa-solid fa-bus"></i></h2>
                                                        <div style="height: 15px"></div>
                                                        <p class="d-flex justify-content-center" style="color: black"
                                                           id="modalBusType"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--                    1열-->
                                        <div class="row">
                                            <div class="col-4 p-3">
                                                <div class="row">
                                                    <div class="col-12"><p>BusID</p></div>
                                                    <div class="col-12 fw-bold" id="modalBusId"></div>
                                                </div>
                                            </div>
                                            <div class="col-4 p-3"></div>
                                            <div class="col-4 p-3">
                                                <div class="row">
                                                    <div class="col-12"><p>Home</p></div>
                                                    <div class="col-12 fw-bold" id="modalDeparts2"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--                    2열-->
                                        <div class="row">
                                            <div class="col-4 p-3">
                                                <div class="row">
                                                    <div class="col-12"><p>Date</p></div>
                                                    <div class="col-12 fw-bold" id="modalBookedDate"></div>
                                                </div>
                                            </div>
                                            <div class="col-4 p-3">
                                                <div class="row">
                                                    <div class="col-12"><p>Departs</p></div>
                                                    <div class="col-12 fw-bold" id="modalDepartTime"></div>
                                                </div>
                                            </div>
                                            <div class="col-4 p-3">
                                                <div class="row">
                                                    <div class="col-12"><p>Arrivers</p></div>
                                                    <div class="col-12 fw-bold" id="modalArrivalTime"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--                    3열-->
                                        <div class="row">
                                            <div class="col-12">
                                                <hr>
                                            </div>
                                        </div>
                                        <!--                    4열-->
                                        <div class="row">
                                            <div class="col-5 p-3">
                                                <div class="row">
                                                    <div class="col-12"><p>PassType</p></div>
                                                    <div class="col-12 fw-bold" id="modalPassType"></div>
                                                </div>
                                            </div>
                                            <div class="col-3 p-3">
                                                <div class="row">
                                                    <div class="col-12"><p>Seat</p></div>
                                                    <div class="col-12 fw-bold" id="modalSeatNum"></div>
                                                </div>
                                            </div>
                                            <div class="col-4 p-3">
                                                <div class="row">
                                                    <div class="col-12"><p>Cost</p></div>
                                                    <div class="col-12 fw-bold" id="modalCost"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--                    5열-->
                                        <div class="row">
                                            <div class="col-12 d-flex justify-content-center"><img
                                                    src="../assets/img/testqr.png" style="width: 65px;height: 65px;">
                                            </div>
                                        </div>
                                        <!--                    6열-->
                                        <div class="row">
                                            <div class="col-12">
                                                <hr>
                                            </div>
                                        </div>
                                        <!--                    티켓-->
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">돌아가기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </main>

    </div>
    <!--            본문-->
    <script th:inline="javascript">

        // 모달창
        function clk(obj) {

            console.log(obj.id);

            var url = "/read/detail/" + obj.id;
            console.log(url);
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                success: function (data) {

                    console.log("API 로딩 성공")
                    reservationDataList = data;

                    $("#modalArrivals").empty();
                    var tempi = $("<i>").attr("class", "fas fa-arrow-right");
                    $("#modalArrivals").append(tempi);
                    $("#modalArrivals").append(reservationDataList.destination);
                    $("#modalDeparts").empty();
                    $("#modalDeparts").append(reservationDataList.departure);
                    $("#modalBusType").empty();
                    $("#modalBusType").append(reservationDataList.busType);
                    $("#modalBusId").empty();
                    $("#modalBusId").append(reservationDataList.busNum);
                    $("#modalDeparts2").empty();
                    $("#modalDeparts2").append(reservationDataList.departure);
                    $("#modalBookedDate").empty();
                    $("#modalBookedDate").append(reservationDataList.departureDate);
                    $("#modalDepartTime").empty();
                    $("#modalDepartTime").append(reservationDataList.departureTime);
                    $("#modalArrivalTime").empty();
                    $("#modalArrivalTime").append(reservationDataList.arrivalTime);
                    $("#modalPassType").empty();
                    $("#modalPassType").append(reservationDataList.passengerType);
                    $("#modalSeatNum").empty();
                    $("#modalSeatNum").append(reservationDataList.seatNum);
                    $("#modalCost").empty();
                    $("#modalCost").append(reservationDataList.payment);

                    const myModal = new bootstrap.Modal(document.getElementById('myModal'));
                    myModal.show();

                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });

        }

        // 폼함수
        (function () {
            'use strict'

            var forms = document.querySelectorAll('.needs')

            Array.prototype.slice.call(forms)
                .forEach(function (form) {

                    form.addEventListener('submit', function (event) {


                        var selectedValues = [];
                        var checkboxes = form.querySelectorAll('input[name="data"]:checked');
                        checkboxes.forEach(function (checkbox) {
                            selectedValues.push(checkbox.value);
                        });

                        console.log(selectedValues);

                        if (selectedValues.length == 0) {
                            event.preventDefault();
                            alert("결제할 항목을 1개 이상 선택해주세요!");

                        } else {
                            form.method = 'POST';
                            form.action = "/bus/payment"; // /결제페이지로 폼 전송을 원한다면 action 설정

                        }


                        // if (!form.checkValidity()) {
                        //   event.preventDefault()
                        //   event.stopPropagation()
                        // }else {
                        //   form.action = "/bus/timetable"; // /search로 폼 전송을 원한다면 action 설정
                        // }


                    }, false)
                })
        })()


    </script>
</th:block>

</html>
<style>
</style>


