<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="content">
    <!--            본문-->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <!-- <h1 class="mt-4">Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol> -->
                <div class="row">
                    <div class="col-xl-6 col-md-12">
                        <table id="busTable" class="table table-striped" style="width:100%">
                            <thead>
                            <tr>
                                <th>버스 아이디</th>
                                <th>출발시간</th>
                                <th>도착시간</th>
                                <th>버스등급</th>
                                <th>비용</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <form class="row" action="/test">
                    <div class="modal" tabindex="-1" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Modal title</h5>
                                </div>
                                <div class="modal-body">
                                    <p>Modal body text goes here.</p>
                                    <label for="bus_id" class="visually-hidden">bus_id</label>
                                    <input type="text" name="bus_id" readonly class="form-control-plaintext" id="bus_id" value="">
                                    <label for="departure_time" class="visually-hidden">departure_time</label>
                                    <input type="text" name="departure_time" readonly class="form-control-plaintext" id="departure_time" value="">
                                    <label for="arrival_time" class="visually-hidden">arrival_time</label>
                                    <input type="text" name="arrival_time" readonly class="form-control-plaintext" id="arrival_time" value="">
                                    <label for="bus_grade" class="visually-hidden">bus_grade</label>
                                    <input type="text" name="bus_grade" readonly class="form-control-plaintext" id="bus_grade" value="">
                                    <label for="cost" class="visually-hidden">cost</label>
                                    <input type="text" name="cost" readonly class="form-control-plaintext" id="cost" value="">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- 모달창 -->
            </div>
        </main>

    </div>
    <!--            본문-->
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#busTable').DataTable();
        });
        var busDataList;
        $(document).ready(function() {
            var url = "http://43.201.165.100:8888/metabusapi/get_bus_list";
            var departure = "간성"; //우리는 서버 사이드에서 디코딩 해줘서 그냥 한글로 써서 보내면 댐
            var destination = "동서울";
            var apiUrl = url + "?departure=" + departure + "&destination=" + destination;
            console.log(apiUrl);
            $.ajax({
                url: apiUrl,
                type: "GET",
                dataType: "json",
                success: function(data) {
                    console.log("API 로딩 성공")
                    var tbody = $("#busTable tbody");
                    busDataList = data;
                    $.each(data, function(index, bus) {
                        // 테이블에 데이터 추가
                        var row = $("<tr>");
                        row.on("click", function () {
                            //
                            var temp = busDataList[$(this).attr("meta")];
                            console.log(temp);
                            //모달창 열기
                            var myModal = new bootstrap.Modal(document.getElementById('myModal'));
                            myModal.show();
                            // alert(temp.bus_id);
                            // bus_id 값 설정
                            $("#bus_id").val(temp.bus_id);
                            // departure_time 값 설정
                            $("#departure_time").val(temp.departure_time);
                            // arrival_time 값 설정
                            $("#arrival_time").val(temp.arrival_time);
                            // bus_grade 값 설정
                            $("#bus_grade").val(temp.bus_grade);
                            // cost 값 설정
                            $("#cost").val(temp.cost);
                        });
                        row.attr("meta",index);
                        $("<td>").text(bus.bus_id).appendTo(row);
                        $("<td>").text(bus.departure_time).appendTo(row);
                        $("<td>").text(bus.arrival_time).appendTo(row);
                        $("<td>").text(bus.bus_grade).appendTo(row);
                        $("<td>").text(bus.cost).appendTo(row);
                        row.appendTo(tbody);
                    });
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        });
    </script>
</th:block>

</html>


