<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <!--            본문-->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-1 col-md-0"></div>
                            <div class="col-lg-11 col-md-12">
                        <h1 class="mt-4">마이페이지</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/">홈</a></li>
                            <li class="breadcrumb-item active">마이페이지</li>
                        </ol>
                            </div>
                        </div>

                        <div class="row mb-4" >
                            <div class="row">
                            <div class="col-lg-1 col-md-0"></div>
                            <div class="col-lg-10 col-md-12" >


                                <div class="card">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-lg-6 col-md-12">
                                                <div class="row" style="height: 100px;"></div>
                                                <div class="row mb-5">
                                                    <div class="col-12"><h4 style="padding-top: 15px;color: #5c636a;float: left">[[${session.loginMember.getName()}]]님의 회원등급은 </h4>
                                                        <div style="position:relative;left:10px">
                                                            <h1 style="color: darkturquoise" th:text="${grade}">META</h1>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" ></div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 mb-3">
                                                <div class="card" style="background-color: rgb(30 220 233 / 9%)">
                                                    <div class="card-body">
                                                        <h5 class="card-title">마일리지</h5>
                                                        <div class="mt-2">
                                                            <h5 class="card-title" style="float:left;"><i class="fa-solid fa-coins" style="margin-right:5px"></i> </h5><h5 th:text="${mileage}"></h5>
                                                        </div>
                                                        <p class="card-text" >회원님의 회원등급, 마일리지, 등급 달성도 정보를 제공합니다.</p>
                                                        <a href="/mileage" class="btn btn-primary">이동</a>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <div class="card" style="background-color: rgb(30 220 233 / 9%)">
                                                    <div class="card-body">
                                                        <h5 class="card-title">승차권</h5>
                                                        <div class="mt-2">
                                                            <h5 class="card-title" style="float:left;"><i class="fa-solid fa-ticket" style="margin-right:5px"></i> </h5><h5 style="float: left" th:text="${tickets}"></h5><h5>장</h5>
                                                        </div>
                                                        <p class="card-text">회원님이 예매하신 승차권에 대한 정보확인과 결제가 가능합니다.</p>
                                                        <a href="/bus/reservation" class="btn btn-primary">이동</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>


<!--                            </div>-->
                        </div>
                            <div class="col-lg-1 col-md-0"></div>
                            </div>
                   <div class="row" style="margin-top: 20px;">
<!--                            <div class="col-lg-6 col-md-12" style="min-width:690px;">-->
                            <div class="col-lg-1 col-md-0"></div>
                            <div class="col-lg-10 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        회원 정보
                                    </div>
                                    <div class="card-body">
                                        <div style="margin-top:20px;">
                                        <b class="card-title" style="font-size: xxx-large" th:text="${session.loginMember.getName()}"></b>
                                        <b th:if="${session.loginMember.getRole().name() == 'USER'}" style="font-size: small; display: inline-block; vertical-align: middle; color: white;
                                        background-color: skyblue; margin-bottom:3px; border-radius: 5px;width:40px;text-align:center;">[[${session.loginMember.getRole()}]]</b>
                                            <b th:if="${session.loginMember.getRole().name() == 'ADMIN'}" style="font-size: small; display: inline-block; vertical-align: middle; color: white;
                                        background-color: skyblue; margin-bottom:15px; border-radius: 5px;width:50px;text-align:center;">[[${session.loginMember.getRole()}]]</b>
                                            <b th:if="${session.loginMember.getRole().name() == 'GUEST'}" style="font-size: small; display: inline-block; vertical-align: middle; color: white;
                                        background-color: skyblue; margin-bottom:15px; border-radius: 5px;width:60px;text-align:center;">[[${session.loginMember.getRole()}]]</b>

                                            <button type="button" onclick="location.href='/member/check/info'" style="background: none; border: none; padding: 0; margin: 0; cursor: pointer;">
                                                <div class="rounded shadow-sm">
                                                    <img src="https://metabustest.s3.ap-northeast-2.amazonaws.com/assets/edit.png" style="width: 27px; height: 20px; margin-bottom: 3px;" alt="Edit"><span style="font-size: 17px;color: #5c636a">정보수정</span>
                                                </div>
                                            </button>
                                            <br>
                                            <div class="row" style="height: 50px;"></div>
                                        </div>
                                        <div style="">
                                        <p style="font-size: small;color: #aaaaaa;margin: 0">이메일</p>
                                            <div style="height: 30px">
                                                <span class="fa-regular fa-envelope p-2"></span><b th:text="${session.loginMember.getEmail()}" style="position: relative;top:-10px;"></b><br>
                                            </div>
                                            <hr style="border: none; border-bottom: 1px dashed rgba(0, 0, 0, 0.2); margin-top: 0; margin-bottom: 5px;border-color: black">

                                            <p style="font-size: small;color: #aaaaaa;margin: 0">전화번호</p>
                                            <div style="height: 30px">
                                                <span class="fa fa-phone p-2"></span><b th:text="${session.loginMember.getPhoneNum()}" style="font-size: large;position: relative;top:-10px;"></b><br>
                                            </div>
                                            <hr style="border: none; border-bottom: 1px dashed rgba(0, 0, 0, 0.2); margin-top: 0; margin-bottom: 5px;border-color: black">

                                            <p style="font-size: small;color: #aaaaaa;margin: 0">가입 일자</p>
                                            <div style="height: 30px">
                                                <span class="fa-solid fa-calendar-days p-2"></span><b th:text="${dates}" style="font-size: large;position: relative;top:-10px;"></b><br>
                                            </div>
                                            <hr style="border: none; border-bottom: 1px dashed rgba(0, 0, 0, 0.2); margin-top: 0; margin-bottom: 5px;border-color: black">

                                            <p style="font-size: small;color: #aaaaaa;margin: 0">비밀번호</p>

                                            <div class="row">
                                                <div class="col-12">
                                                    <span class="fas fa-lock px-2"></span><b th:if="${session.loginMember.getPassword()}" style="font-size: large;position: relative;top:7px;">********</b>
                                                    <button type="button" onclick="location.href='/member/check/pwd'" style="background: none; border: none; padding: 0; margin: 0; cursor: pointer;">
                                                        <div class="rounded shadow-sm">
                                                            <img src="https://metabustest.s3.ap-northeast-2.amazonaws.com/assets/edit.png" style="width: 27px; height: 20px; margin-bottom: 3px;" alt="Edit"><span style="font-size: 17px;color: #5c636a">비밀번호 변경</span>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                            <br>
                                            <hr style="border: none; border-bottom: 1px dashed rgba(0, 0, 0, 0.2); margin-top: 0; margin-bottom: 5px;border-color: black">

                                        </div>
                                        <div class="row" style="height: 50px;"></div>

<!--                                        <p style="font-size: small;color: #aaaaaa;margin: 0">회원 탈퇴</p>-->
                                        <button type="button" onclick="location.href='/member/check/delete'" style="background: none; border: none; padding: 0; margin: 0; cursor: pointer;">회원 탈퇴</button>
<!--                                        <form class="form-signup" th:action="@{/member/delete}" method="post" novalidate style="text-align: right;">-->
<!--                                            <input type="submit" style="color: #aaaaaa; background-color: transparent; border: none; cursor: pointer;" value="회원탈퇴" onclick="return confirm('정말로 회원탈퇴하시겠습니까?')">-->
<!--                                        </form>-->

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-0"></div>
                            </div>
                        </div>

       </div>

<!--                </div>-->

                </div>
            </div>
        </main>

    </div>

</th:block>

</html>
<style>
</style>


