<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block layout:fragment="content">



    <div id="layoutSidenav_content" style="background-color: white">

        <main>
            <div class="container-fluid px-4" style="margin-top: 100px">
                <div class="container overflow-auto">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">

                            <div class="container" >
                                <div class="card">
                                    <div class="card-body">

                                        <form action="/board/writepro" name="myForm" onsubmit="return validateForm()" method="post" enctype="multipart/form-data" style="margin-left: 50px;margin-right: 50px">
                                            <h5 style="margin-top: 5px">제목</h5>
                                                <input type="text" name="title"  placeholder="[분실물 종류]: [분실 일자], [분실 장소]" style="width:100%"/>
                                                <h5 style="margin-top: 10px;margin-bottom: 0">본문</h5>
                                                <textarea name="content" placeholder="본문:
분실물의 상세한 특징 및 특이사항을 작성합니다.
분실물의 색상, 크기, 브랜드, 식별 가능한 특징 등을 명시합니다.
분실 시간, 장소, 주변 환경 등의 정보를 제공합니다.

연락처 : 연락 가능한 정보(이메일 주소, 전화번호 등)를 작성합니다."></textarea>

                                            <h5 style="margin-top: 5px">출발지</h5>
                                            <input type="text" name="departure"  placeholder="[출발지]" style="width:100%"/>
                                            <h5 style="margin-top: 5px">도착지</h5>
                                            <input type="text" name="distination"  placeholder="[도착지]" style="width:100%"/>

                                            <input type="file" class="inputwrite" name="file" style="margin-top: 10px;">
                                            <div id="preview"></div>
                                            <button type="submit" style="margin-top: 5px;margin-bottom: 5px; background-color: dodgerblue;color: white;border-color: dodgerblue">작성</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="col-2"></div>
                </div>
                </div>
            </div>
        </main>
    </div>
<script>
    const fileInput = document.querySelector('.inputwrite');
    const previewContainer = document.querySelector('#preview');

    fileInput.addEventListener('change', handleFiles);

    function handleFiles(event) {
        const files = event.target.files;
        previewContainer.innerHTML = ''; // 기존에 표시된 이미지 초기화

        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const reader = new FileReader();

            reader.onload = function (e) {
                const img = document.createElement('img');
                img.src = e.target.result;
                img.classList.add('preview-image');
                previewContainer.appendChild(img);
            };

            reader.readAsDataURL(file);
        }
    }

    function validateForm() {
        var title = document.forms["myForm"]["title"].value;
        var content = document.forms["myForm"]["content"].value;
        var departure = document.forms["myForm"]["departure"].value;
        var distination = document.forms["myForm"]["distination"].value;
        var file = document.forms["myForm"]["file"].value;

        if(title.length>40){
            alert("제목이 너무 깁니다");
            return false;
        }

        if (title == "" || content == "") {
            alert("제목과 내용을 모두 입력해주세요.");
            return false;
        }

        if (departure==""||distination=="") {
            alert("출발지와 도착지를 모두 입력해주세요.");
            return false;
        }

        if(file==null||file==""){
            alert("사진을 넣어주세요")
            return false;
        }

        content = document.forms["myForm"]["content"].value;
        content = content.replace(/\r?\n/g, "<br>");
        document.forms["myForm"]["content"].value = content;
        return true;
    }

</script>
</th:block>
</html>
<style>
    .layout{
        width : 500px;
        margin: 0 auto;
        margin-top :40px;
    }

    .layout  input, textarea {
        width : 100%;
        margin-top :10px;
        box-sizing : border-box;
    }

    textarea{
        height : 300px;
    }
</style>