<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <main class="container" style="margin-top: 100px;">
        <div class="layoutwrite">
            <form action="/board/writepro" method="post" enctype="multipart/form-data">
                <input id="title" class="inputwrite" name="title" type="text" placeholder="제목">
                <textarea class="textareawrite" name="content" placeholder="내용"></textarea>
                <input type="file" class="inputwrite" name="file">
                <button type="submit">작성</button>
            </form>
        </div>
    </main>
</th:block>
</html>

<style>
    .layoutwrite {
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .layoutwrite input,
    .layoutwrite textarea {
        width: 100%;
        margin-top: 10px;
        box-sizing: border-box;
    }

    .layoutwrite textarea {
        height: 300px;
    }
</style>