<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <!--            본문-->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <!-- <h1 class="mt-4">Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol> -->
                <div class="row" >
                    <div class="col-xl-6 col-md-12" >

                    </div>
                </div>

                <!-- 모달창 -->
            </div>
        </main>

    </div>
    <!--            본문-->
    <script th:inline="javascript">

    </script>
</th:block>

</html>


