<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header2Fragment">
    <!--            header2-->
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion" style="background-color: white">
            <div class="sb-sidenav-menu">
                <div class="nav">

                    <div class="sb-sidenav-menu-heading">홈</div>
                    <a th:if="${session.loginMember==null}" class="nav-link" href="/member/login">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-right-to-bracket"></i></div>
                        로그인
                    </a>
                    <div th:if="${session.loginMember!=null}">
                    <a class="nav-link" href="/">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-house"></i></div>
                        메인페이지
                    </a>
                    </div>

                    <div th:if="${session.loginMember!=null}" class="sb-sidenav-menu-heading">마이페이지</div>
                    <a th:if="${session.loginMember!=null}" class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pageMyinfo" aria-expanded="false" aria-controls="pageMyinfo">
                        마이페이지
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div th:if="${session.loginMember!=null}" class="collapse" id="pageMyinfo" aria-labelledby="headingOne">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/member/mypage">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                                내정보
                            </a>
                            <a class="nav-link" href="/mileage">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-coins"></i></div>
                                마일리지
                            </a>
                        </nav>
                    </div>
                    <a th:if="${session.loginMember!=null}" class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pageTicket" aria-expanded="false" aria-controls="pageTicket">
                        승차권
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div th:if="${session.loginMember!=null}" class="collapse" id="pageTicket" aria-labelledby="headingOne">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/bus/reservation">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-clipboard-list"></i></div>
                                전체
                            </a>
                            <a class="nav-link" href="/bus/reservation?specialValue=결제대기">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-pen"></i></div>
                                결제대기
                            </a>
                            <a class="nav-link" href="/bus/reservation?specialValue=결제완료">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-check"></i></div>
                                예매완료
                            </a>
                        </nav>
                    </div>
<!--                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">-->
<!--                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>-->
<!--                        Pages-->
<!--                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
<!--                    </a>-->
<!--                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">-->
<!--                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">-->
<!--                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">-->
<!--                                Authentication-->
<!--                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
<!--                            </a>-->
<!--                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">-->
<!--                                <nav class="sb-sidenav-menu-nested nav">-->
<!--                                    <a class="nav-link" href="login.html">Login</a>-->
<!--                                    <a class="nav-link" href="register.html">Register</a>-->
<!--                                    <a class="nav-link" href="password.html">Forgot Password</a>-->
<!--                                </nav>-->
<!--                            </div>-->
<!--                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">-->
<!--                                Error-->
<!--                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
<!--                            </a>-->
<!--                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">-->
<!--                                <nav class="sb-sidenav-menu-nested nav">-->
<!--                                    <a class="nav-link" href="401.html">401 Page</a>-->
<!--                                    <a class="nav-link" href="404.html">404 Page</a>-->
<!--                                    <a class="nav-link" href="500.html">500 Page</a>-->
<!--                                </nav>-->
<!--                            </div>-->
<!--                        </nav>-->
<!--                    </div>-->
                    <div class="sb-sidenav-menu-heading">커뮤니티</div>

                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pageUserHelp" aria-expanded="false" aria-controls="pageUserHelp">
                        고객센터
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="pageUserHelp" aria-labelledby="headingOne" >
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/board/list">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                분실물 게시판
                            </a>
                            <a class="nav-link" href="/-1">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-headset"></i></div>
                                1 : 1 문의
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="sb-sidenav-footer">
<!--                <div class="small">Logged in as:</div>-->
<!--                Start Bootstrap-->
                <th:block th:unless="${memberDto == null}">
                    <span class="mobile-font-header" th:text="${memberDto.name}" style="font-weight: bold;"></span><span class="mobile-font-header">님 환영합니다.</span>
                </th:block>
            </div>
        </nav>
    </div><!--            header2-->
</th:block>
</html>