<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Register - SB Admin</title>
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="text-center">
    <form class="form-signin" th:action="@{/member/register}" method="post" th:object="${memberRegisterRequest}"> <!-- 요청 보내기-->
        <h1 class="h3 mb-3 font-weight-normal">회원가입</h1>

        <label for="email" class="sr-only">email</label>
        <input type="text" id="email" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" name="email" class="form-control" placeholder="email" required autofocus>
        <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
            중복회원
        </div>

        <label for="name" class="sr-only">name</label>
        <input type="text" id="name" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'" name="name" class="form-control" placeholder="name" required autofocus>

        <label for="password" class="sr-only">password</label>
        <input type="password" id="password" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'" name="password" class="form-control" placeholder="password" required autofocus>

        <label for="phoneNum" class="sr-only">phone number</label>
        <input type="text" id="phoneNum" th:classappend="${#fields.hasErrors('phoneNum')} ? 'is-invalid'" name="phoneNum" class="form-control" placeholder="핸드폰 번호" required autofocus>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    </body>
</html>
